.containerFooter {
  width: 100%;
  height: 45vh;
  background-color: rgba(28, 30, 83, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .content {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    gap: 20px;

    .leftPart {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;
      gap: 10px;
      padding-top: 30px;
      box-sizing: border-box;

      .logo {
        width: 100%;
      }

      p {
        font-family: Poppins;
        font-weight: 500;
        font-size: 10px;
        line-height: 28px;
        letter-spacing: 0%;
        color: white;
        padding-top: 5px;
        box-sizing: border-box;
      }
    }
  }
  .rightPart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    padding-bottom: 15px;
    box-sizing: border-box;
    gap: 10px;

    h1 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 33px;
      line-height: 64px;
      letter-spacing: 0%;
      color: white;
    }
    p {
      font-family: Poppins;
      font-weight: 500;
      font-size: 10px;
      line-height: 28px;
      letter-spacing: 0%;
      color: white;
    }
    .socialIcons {
      width: 50%;
      height: fit-content;
      display: flex;
      flex-flow: row nowrap;
      justify-content: start;
      align-items: start;
      gap: 20px;
    }
  }
}
footer {
  .footerLink {
    width: 100%;
    background-color: white;
    height: 95;
    opacity: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;

    .copyright {
      width: 30%;
      font-family: Poppins;
      font-weight: 500;
      font-size: 10px;
      line-height: 28px;
      letter-spacing: 0%;
      color: rgba(40, 41, 56, 1);
    }
    .footerMenu {
      width: 70%;
      height: 100%;
      nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        align-items: center;
        gap: 20px;

        ul {
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: end;
          align-items: center;
          gap: 20px;
          list-style: none;
          li {
            width: fit-content;
            height: 100%;

            a {
              font-family: Poppins;
              font-weight: 500;
              font-size: 12px;
              line-height: 28px;
              letter-spacing: 0%;
              text-transform: capitalize;
              text-decoration: none;
              color: rgba(40, 41, 56, 1);
              cursor: pointer;

              &.big-font {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
  .info {
    width: 40%;
    height: 12vh;
    background-color: rgb(252, 217, 128);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 30px 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 100%;
    left: 10%;
    .left,
    .right {
      h1 {
        font-family: Poppins;
        font-weight: 500;
        font-size: 12px;
        color: rgba(40, 41, 56, 1);
        line-height: 28px;
        letter-spacing: 0%;
      }
      h2 {
        font-family: Poppins;
        font-weight: 400;
        font-size: 10px;
        color: rgba(40, 41, 56, 1);
        line-height: 20px;
        letter-spacing: 0%;
      }
    }
  }
}
