.containerHomeHero {
  width: 100%;
  height: 850px;
  background-color: var(--mainBgcolor);
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  .boxRight {
    width: 100%;
    height: 80%;
    padding: 35px;
    box-sizing: border-box;
    margin-right: 30px;

    .image {
      height: auto;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .boxLeft {
    width: 100%;
    height: 80%;
    padding: 35px;
    box-sizing: border-box;

    .textBox {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: start;
      gap: 20px;
      p {
        font-family: Poppins;
        font-weight: 600;
        font-size: 35px;
        line-height: 74px;
        letter-spacing: 0%;
        color: #ffffff;
      }
      .lorem {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #ffffff;
      }
      .button {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        gap: 30px;
        button {
          all: unset;
          width: 230px;
          height: 56px;
          border-radius: 41px;
          background-color: #fcd980;
          font-family: Manrope;
          font-weight: 600;
          font-size: 18px;
          line-height: 12px;
          letter-spacing: 0%;
          color: #1b1c2b;
          text-align: center;
        }
        .textButton {
          all: unset;
          font-family: Poppins;
          font-weight: 500;
          font-size: 16px;
          line-height: 10px;
          letter-spacing: 0%;
          color: #ffffff;
          background-color: var(--mainBgcolor);
          text-align: center;
        }
      }
    }
  }
}
